<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body style="margin-left: 15px">

    <h2>Registry<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Surname" name="surname">
        <button type="submit" class="w3-btn w3-black" style="border-radius:10px" >Submit</button>
    </form> 
    
    <button type="submit" class="w3-btn w3-black" style="border-radius:10px" ><a href="/show">Show</a></button>

</body>
</html>