<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>

    <h2>Updating <h2>

    <form action="/update" method="GET">
        <input type="text" placeholder="Name" name="name"><br>
        <input type="text" placeholder="Surname" name="surname"><br>
        <input type="hidden" placeholder="Surname" name="id" value="<%= params._id %>">
        
        <div class="space"></div>
        <button type="submit" class="button" >Update</button>
    </form> 
    <br>

    <div class="space"></div>
    <table border="2">
        <thead >
            <tr>
                <td class="tableHead">Name</td>
                <td class="tableHead">Surname</td>
                <td class="tableHead">Id</td>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= params.name %></td>
                <td><%= params.surname %></td>
                <td><%= params._id %></td>
            </tr>
        </tbody>
    </table>
    <div  class="space"></div>
 <button type="submit" class="button" ><a href="/show">Back</a></button>
</body>
</html>