<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My CRUD in NodeJS</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body style="margin-left: 15px">

    <h2 style="margin-left: 15px">Records<h2>
        <div style='height: 50px;'></div>
    <table border="2" style="margin-left: 15px">
        <thead >
            <tr>
                <td style="color: red;">Name</td>
                <td style="color: red;">Surname</td>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(details) { %>
            <tr>
                <td><%= details.name %></td>
                <td><%= details.surname %></td>
            </tr>
            <% }) %>
        </tbody>
        
    </table>
    <div style='height: 50px'></div>
    <button class="w3-btn w3-black" style="margin-left: 15px; border-radius:10px"><a href="/">Back</a></button>
</body>

</html>