<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My CRUD in NodeJS</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <h2>Records<h2>
    
    <div class="space"></div>

    <table border="2" >
        
        <thead >
            <tr>
                <td class="tableHead">Name</td>
                <td class="tableHead">Surname</td>
                <td class="tableHead">Edit</td>
                <td class="tableHead">Delete</td>
            </tr>
        </thead>
        
        <tbody>
            <% data.forEach(function(details) { %>
            <tr>
                <td><%= details.name %></td>
                <td><%= details.surname %></td>
                <td cl><a  class="content" href="/update/params?id=<%= details._id%>">Update</a></td>
                <td><a  class="content" href="/delete?id=<%= details._id%>">Delete</a></td>
            </tr>
            <% }) %>
        </tbody>
        
    </table>
    <div  class="space"></div>
    <button  class="button"><a href="/">Back</a></button>
    
</body>

</html>